html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    /*noinspection CssNoGenericFontName*/
    font-family: 'OpenSans' !important;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/Open_Sans/OpenSans-Regular.ttf');
}

.axis path, .axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

.bar {
    fill: steelblue;
}

.trippy {
    animation: wheee 3s infinite;
    fill: green !important;
}
@keyframes wheee {
    0% {stroke: red;}
    25% {stroke: yellow;}
    50% {stroke: blue;}
    75% {stroke: green;}
    100% {stroke: red;}
}
